.container {
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

    li {
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
    }
    .table-header {
      background-color: white;
      font-size: 14px;
      text-align: start;
      border-bottom: 1px solid black;
      text-transform: uppercase;
    }
    .table-row {
      background-color: #ffffff;
    }
    .col-1 {
      width: 360px;
      padding: 15px;
      border-right: 1px solid black;
      font-weight: bold;
    }
    .col-2 {
      width: 450px;
      padding: 15px;
      border-right: 1px solid black;
      font-weight: bold;
    }
    .col-3 {
      width: 400px;
      padding: 15px;
      border-right: 1px solid black;
      font-weight: bold;
    }
    .col-4 {
      width: 130px;
      padding: 15px;
      font-weight: bold;
    }
    .col-4 i {
      color: red;
    }
    .col-3 .col-3-btn{
        border: none;
        border-radius: 20px;
        padding: 10px 30px;
        font-size: 17px;
        width: 80px;
        font-weight: bold;
        background-color: white;
        color: black;
        cursor: pointer;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgb(227, 224, 224);
    }
    .user-contact-text{
        font-size: 16px;
        font-weight: 700;
        padding: 20px 0;
    }
@media screen and (max-width: 760px) {
    .container .responsive-table {
        width: 200%;
        overflow-x: scroll;
        scroll-behavior: smooth;
      }
    .col-1 {
        width: 360px;
      }
    .col-2 {
        width: 450px;
      }
    .col-3{
        width: 400px;
      }
    .col-4 {
        width: 130px;
      }
  }

@media screen and (max-width: 450px) {
    .container .responsive-table {
        width: 320%;
        overflow-x: scroll;
        scroll-behavior: smooth;
      }
  }
